//@charset "utf-8";
//@import "bulma-0.9.2/bulma/bulma.sass";

@charset "utf-8";

// Import a Google Font
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

// Set your brand colors
$purple: #8A4D76;
$pink: #FA7C91;
$brown: #757763;
$beige-light: #D0D1CD;
$beige-lighter: #EFF0EB;
$piggy-pink: #FDDDE6;
$dark-pink: #F77197;
$dark-blue: #2F325B;
$light-yellow: #f7f6cf;
$almost-dark-black: #333333;
$green-blue: #6cc3cb;
$green: #6be3cb;
$new-pink: #f29fd5;
$ligter-pink: #fdcaeb;

// Update Bulma's global variables
$family-sans-serif: "Nunito", sans-serif;
$grey-dark: $brown;
$grey-light: $beige-light;
$primary: $dark-blue;
$link: $pink;
$widescreen-enabled: false;
$fullhd-enabled: false;

// Update some of Bulma's component variables
$body-background-color: transparent;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;
$navbar-background-color: transparent;

// Import only what you need from Bulma
@import "bulma/sass/utilities/_all.sass";
@import "bulma/sass/base/_all.sass";
@import "bulma/sass/elements/_all.sass";
@import "bulma/sass/form/_all.sass";
@import "bulma/sass/components/_all.sass";
@import "bulma/sass/layout/_all.sass";
@import "bulma/sass/grid/_all.sass";
@import "bulma/sass/helpers/_all.sass";

//all
body {
  margin: 0;
  padding-top: 56px;
}

.korean {
  font-family: korean;
}

@font-face {
  font-family: korean;
  src: url("font/GowunDodum-Regular.ttf") format('truetype');
}

p, .subtitle, h2 a, #likes{
  color: $almost-dark-black;
}

// Navbar section.
.navbar {
  background-color: $new-pink;
  //border-bottom: 1px solid
  position: fixed;
  top: 0;
  width: 100%;
}

.navbar-start {
  flex-grow: 1;
  justify-content: center;
  text-align: center;
}

a.navbar-item:hover {
  background-color: transparent;
}

.navbar a:hover {
  color: white;
}

.navbar a, .title {
  color: black;
}

.navbar-start, .navbar-brand {
  padding-top: 12px;
  margin-left: 15px;
}

.underline {
  border: 2px solid transparent;
}

.underline::after {
  width: 0%;
  height: 2px;
  display: block;
  background-color: #fff;
  content: " ";
  position: absolute;
  top: 34px;
  left: 50%;
  -webkit-transition: left 0.2s cubic-bezier(0.215, 0.61, 0.355, 1), width 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: left 0.2s cubic-bezier(0.215, 0.61, 0.355, 1), width 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.underline:hover::after {
  width: 100%;
  height: 2px;
  display: block;
  background-color: #fff;
  content: " ";
  position: absolute;
  top: 34px;
  left: 0;
}

// Home page section.
.intro {
  font-size: 1.2rem;
  color: white;
}

.korean-qoute {
  font-size: 30px;
  color: black;
  text-align: center;
  margin-top: 50px;
}

.english-qoute {
  font-size: 30px;
  color: black;
  text-align: center;
  margin-top: 20px;
  background: linear-gradient(to right, #FF0000 0%, #FFFF00 25%, #05C1FF 50%, #FFFF00 75%, #FF0000 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
}

.qoute::before {
  content: "“";
}

.qoute::after {
  content: "”";
}

.welcome {
  text-align: center;
}

.welcome-img {
  position:absolute;
  max-width:136px;
  right:678px;
  top:490px;
//  -webkit-animation:moveupanddown 5.5s infinite;
  animation:moveupanddown-welcome 5.5s infinite;
  animation-delay:.5s;
  opacity:1;
}

@keyframes moveupanddown-welcome {
  0% {
  transform: rotate(-20deg) translateY(0px);
  opacity:1
 }
  50% {
  transform: rotate(-20deg) translateY(-20px);
  opacity:1
 }
  100% {
  transform: rotate(-20deg) translateY(0px);
  opacity:1;
 }
}

.hello-img {
  position:absolute;
  max-width:136px;
  right:195px;
  top:490px;
//  -webkit-animation:moveupanddown 5.5s infinite;
  animation:moveupanddown-hello 5.5s infinite;
  animation-delay:.5s;
  opacity:1;
}

@keyframes moveupanddown-hello {
  0% {
  transform: rotate(20deg) translateY(0px);
  opacity:1
 }
  50% {
  transform: rotate(20deg) translateY(-20px);
  opacity:1
 }
  100% {
  transform: rotate(20deg) translateY(0px);
  opacity:1;
 }
}

// Index page section.
#post-list {
  background-color: $new-pink;
  //border: 2px solid white;
  padding: 15px;
  border-radius: 5px;
}

#post-list:hover {
  //transform: scale(1.1);
  background-color: #fdcaeb;
}

// Quicknote Section.
#post {
  background-color: $green-blue;
  border: 2px solid white;
  border-radius: 10px;
  padding: 15px;
}

#note-hr-top {
  margin-top: 5px;
}

#note-hr-bottom {
  margin-bottom: 5px;  //check this before commit.
}

.subtitle {
  font-size: 15px;
}

.fa-heart {
  color: white;
  text-shadow: 0px 0px 30px #f886a6;
}

// Comment form section.
.comment-form {
  margin-top: 15px;
}

.button, .button:hover {
  border-radius: 8px;
  background-color: $green-blue;
  border: 1px solid white;
}

// Comments section.
