{% extends "blog/base.html" %}

{% block content %}

  <section class="section">
    <p class="intro">Hello and Welcome to my little blog. My name is Niloofar and I'm a senior programmer.<br>
      I'm learning the beautiful Korean language, and I'm going to share my quick notes with everybody who wants to learn the same way. Hope it helps and you enjoy.<br>
      If you have any question about the notes, let me know. I'll help you if I know the answer.</p>

      <h2 class="korean-qoute qoute korean">세상에는 수백 개의 언어가 있지만, 미소는 그들 모두를 말합니다.</h2>
      <h2 class="english-qoute qoute">There are hundreds of languages in the world, but a smile speaks them all.</h2>


    <img class="hello-img" src="../../static/blog/img/hello.png" alt="Girl in a jacket">
    <img class="welcome-img" src="../../static/blog/img/welcome.png" alt="Girl in a jacket">

    <section class="section welcome">
      <img src="https://i.postimg.cc/9ff06qpd/korean-welcome-1.png" alt="Girl in a jacket">
    </section>

  </section>

{% endblock content %}
