<!DOCTYPE html>
<html>
  <head>
    {% block head %}

      {% load static %}
      <link rel="stylesheet" type="text/css" href={% static 'notes/mystyles.css' %}>
      <link href="../../static/notes/fontawesome/css/all.css" rel="stylesheet">
      <link href="../../static/notes/fontawesome/css/fontawesome.css" rel="stylesheet">
      <link href="../../static/notes/fontawesome/css/brands.css" rel="stylesheet">
      <link href="../../static/notes/fontawesome/css/solid.css" rel="stylesheet">
      <script src={% static 'notes/jquery.min.js' %}></script>
      <meta name="viewport" content="width=device-width, ini:tial-scale=1">

      {% endblock head %}

      <style>



      </style>


  </head>
  <body>
    {% block navbar %}

      <nav class="navbar is-transparent" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
          <a href="/notes/" class="navbar-item underline">HOME</a>
          <a role="button" class="navbar-burger" id="burger" aria-label="menu" aria-expanded="false">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>
        <div class="navbar-menu" id="nav-links">
          <div class="navbar-start">
            <a href="#" class="navbar-item underline">ABOUT ME</a>
            <a href="#" class="navbar-item underline">MUSIC</a>
          </div>
        </div>
      </nav>


    {% endblock navbar %}

    <section class="container section">
        {% block content %}{% endblock content %}
        {% block comment %}{% endblock comment %}
        {% block footer %}{% endblock footer %}
    </section>

    <script>
      document.addEventListener('DOMContentLoaded', () => {
          (document.querySelectorAll('.notification .delete') || []).forEach(($delete) => {
              const $notification = $delete.parentNode;

              $delete.addEventListener('click', () => {
                  $notification.parentNode.reynmoveChild($notification);
              });
          });
      });


      $(document).ready(function() {
          $('.fa-heart').click(function(e){
              this.style.color = this.style.color == 'red' ? 'white' : 'red';
              e.preventDefault();

              $.ajax({
                  type:'POST',
                  url: "{% url 'notes:post-like' %}",
                  data:{
                      id: "{{ note.id }}",
                      color: document.getElementById("fa-heart").style.color,
                      csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
                  },
                  success: function(resp){
                      $('#likes').text(resp);
                  },
                  error : function() {
                      console.log("Error");
                  }
              });
          });
      });


      const burgerIcon = document.querySelector('#burger');
      const navbarMenu = document.querySelector('#nav-links');

      burgerIcon.addEventListener('click', () => {
          navbarMenu.classList.toggle('is-active');
      });


      //JavaScript code for Slide functionality
      var $slideLink = $("#slide-link"),
          slideLinkText = $slideLink.find("span")[0];

      $slideLink.on("mouseenter", linkOver);

      function linkOver() {
          TweenLite.to(slideLinkText, 0.3, {y: -25, ease: Cubic.easeIn, onComplete: function() {
              TweenLite.fromTo(slideLinkText, 0.3, {y: 25}, {y: 0, ease: Cubic.easeOut})
          }});
      }
    </script>

  </body>
</html>
