{% extends "notes/base.html" %}

{% block navbar %}

  <nav class="navbar n-navbar">
    <div class="navbar-brand">
      <a href="/notes/">HOME</a>
    </div>
  </nav>

{% endblock navbar %}
{% block content %}

  <h1 class="title">{{ note.title }}</h1>
  <p>{{ note.quick_note }}</p>
  <i>{{ note.author }}</i><br>
  <i>{{ note.pub_date }}</i><br>

  {% if message == "successful" %}
    <div class="notification is-primary">
      <button class="delete"></button>
      <p><strong> I'll receive your comment. Thank you! </strong></p>
    </div>
  {% endif %}

  <form action="{% url 'notes:comments' note.id %}" method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Send" class="button is-primary">
  </form>

{% endblock content %}
{% block comment %}

  {% for each in comment %}
    <div class="card">
      <header class="card-header">
        <p class="card-header-title">
          {{ each.id }}
        </p>
      </header>
      <div class="card-content">
        <p>
          {{ each.text }}
        </p>
      </div>
      <footer class="card-footer">
        <p class="card-footer-item">
          <span>
            {{ each.pub_date }}
          </span>
        </p>
        <p class="card-footer-item">
          <span></span>
        </p>
      </footer>
    </div>
  {% endfor %}

{% endblock comment %}
