<!DOCTYPE html>
<html>
  <head>
    {% load static %}
    <link rel="stylesheet" type="text/css" href={% static 'notes/mystyles.css' %}>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <h1 class="title">{{ note.title }}</h1>
    <p class="subtitle">{{ note.quick_note }}</p>
    <i>{{ note.author }}</i><br>
    <i>{{ note.pub_date }}</i><br>
    <a href="/notes/">back</a>

    {% if message == "successful" %}
      <p><strong> I'll receive your comment. Thank you! </strong></p>
    {% endif %}

    <form action="{% url 'notes:comments' note.id %}" method="post">
      {% csrf_token %}
      {{ form }}
      <input type="submit" value="Send">
    </form>

    {% for each in comment %}
      <p>{{ each.id }}--{{ each.text }}--{{ each.note }}--{{ each.note_id }}--{{ each.pub_date }}</p>
    {% endfor %}

  </body>
</html>
