{% extends "notes/base.html" %}

{% block content %}

  <section class="content">
    <article>
      <h1 class="title is-2">{{ note.title }}</h1>
      <i class="subtitle">By: {{ note.author }} - {{ note.pub_date }}</i><hr>
      <p>{{ note.quick_note }}</p><hr>
      <i class="fas fa-heart" id="fa-heart"></i>
      <b id="likes">{{ note.like }}</b>
    </article>

    {% if message == "successful" %}
      <div class="notification is-primary">
        <button class="delete"></button>
        <p><strong> I'll receive your comment. Thank you! </strong></p>
      </div>
    {% endif %}

    <div class="comment-form">
      <form action="{% url 'notes:comments' note.id %}" method="post"">
        {% csrf_token %}
        <div class="field">
          <div class="control">
            {{ form }}
          </div>
        </div>
        <div class="field">
          <div class="control">
            <input type="submit" value="Send" class="button is-primary">
          </div>
        </div>
      </form>
    </div>
  </section>

{% endblock content %}
{% block comment %}

  {% for each in comment %}
    <div class="card">
      <header class="card-header">
        <p class="card-header-title">
          {{ each.id }}
        </p>
      </header>
      <div class="card-content">
        <p>
          {{ each.text }}
        </p>
      </div>
      <footer class="card-footer">
        <p class="card-footer-item">
          <span>
            {{ each.pub_date }}
          </span>
        </p>
        <p class="card-footer-item">
          <span></span>
        </p>
      </footer>
    </div>
  {% endfor %}

{% endblock comment %}
